.uni-section-content {
  padding: 5px;
}
.uni-forms-item {
  margin-bottom: 5px !important;
}
.uni-section__content-title {
  font-weight: bold;
  font-size: 16px !important;
}
.uni-forms-item__content {
  min-width: 0;
}
.uni-grid {
  .grid-item-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 5px;
    border-radius: 6px;
    border: 1px solid #d9d9d9;
  }
}
.page-wrapper > navbar {
  z-index: 9999999;
}
.uni-drawer__content {
  width: 90% !important;
}
.hidden {
  display: none !important;
}
.column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.w-full {
  width: 100%;
}
.row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.items-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.mt20 {
  margin-top: 20px;
}
.mr10 {
  margin-right: 10px;
}
.m0 {
  margin: 0px;
}
.m-px {
  margin: 1px;
}
.m-1 {
  margin: 0.25rem;
}
.m-2 {
  margin: 0.5rem;
}
.p0 {
  padding: 0px;
}
.p-px {
  padding: 1px;
}
.p-1 {
  padding: 0.25rem;
}
.p-2 {
  padding: 0.5rem;
}
@for $i from 1 through 10 {
  .grid#{$i} {
    display: grid;
    grid-template-columns: repeat($i, 1fr);
    column-gap: 10px;
  }
}
@mixin detailCard() {
  padding: 0 !important;
  font-size: 12px;
  .card-header {
    border-bottom: 1px solid rgb(226 232 240);
    padding: 10px;
    .header-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .card-footer {
    padding: 5px;
    border-top: 1px solid #ebeef5;
    .btn {
      display: flex;
      align-items: center;
    }
    .btn-img {
      margin: 0 5px;
      margin-top: -2px;
    }
  }
}
.choose-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3px !important;
}
.more-btn,
.normal-btn {
  background-color: #fff !important;
  &:after {
    border: none !important;
  }
}
.btn-img {
  width: 16px;
  height: 16px;
}
.btn-divider {
  border-left: 1px solid #d9d9d9;
}
/* #ifdef MP-WEIXIN */
.detail-card {
  display: flex;
  margin: 5px 10px !important;
  .uni-card {
    @include detailCard();
    margin: 0 !important;
  }
}
/* #endif */
/* #ifdef APP-PLUS || H5*/
.detail-card {
  @include detailCard();
  margin: 5px 10px !important;
}
/* #endif */
// 文本溢出
@mixin line($lineNum, $width: 100%) {
  /* 一行时 */
  @if $lineNum == 1 {
    // App端
    /* #ifdef APP-PLUS */
    lines: 1; // 1或n
    text-overflow: ellipsis;
    /* #endif */

    // 其他端
    /* #ifndef APP-PLUS */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: $width;
    /* #endif */
  } @else {
    /* 多行时 */

    // App端
    /* #ifdef APP-PLUS */
    lines: $lineNum; // 1或n
    text-overflow: ellipsis;
    /* #endif */

    // 其他端
    /* #ifndef APP-PLUS */
    overflow: hidden;
    -webkit-line-clamp: $lineNum;
    display: -webkit-box;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: normal !important;
    -webkit-box-orient: vertical;
    /* #endif */
  }
}
.empty-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
